h1
{
    text-align: left;
    padding: 10px 0px;
    font-size: 50px;
}

h2
{
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

h3
{
    padding: 10px 0px;
}

h3, h4
{
    text-align: left;
}

h3, h6
{
    font-weight: bold;
    font-size: 26px;
}

h4
{
    font-weight: bold;
    font-size: 22px;
    padding: 0px;
}

h5
{
    font-weight: bold;
    font-size: 16px;
}

h6
{
    font-weight: bold;
    text-align: center;
    color: #00BCD4;
}

.padding0
{
    padding: 0px;
}

.row
{
    margin-left: 0px;
    margin-right: 0px;
}

/** Bandeau gauche */
.bandeau
{
    background-color: #00BCD4;
}

.titre-gauche
{
    background-color: #424242;
}

/** Photo */
.photo
{
    padding: 40px;
}

.shadow
{
    filter: drop-shadow(0px 0px 5px black);
}

/** Contact, A propos */
.gauche, .icone
{
    padding: 50px;
}

.contact
{
    padding: 10px;
}

.lien
{
    color: black;
}

/** Loisirs */
.loisir
{
    
    color: #424242;
}

.icone-loisir
{
    text-align: center;
    padding: 20px;
}

/** Contenu droite */
/** Nom */
.nom-complet
{
    padding: 10px;
}

.prenom
{
    color: #00BCD4;
}

/** Titre de poste */
.dev
{
    margin-bottom: 30px;
}

.dev::after
{
    content: " ";
    display: block;
    width: 10px;
    background-color: #00BCD4;
    height: 1px;
    padding: 0px 30px;
}

/** Formation, Expérience, Recommandations */
.titre
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
}

.alignement
{
    display: flex;
    align-items: center;
}

.titre-contenu::after
{
    content: " ";
    display: block;
    width: 100%;
    background-color: #00BCD4;
    height: 1px;
    padding: 0px 30px;
}

.contenu
{
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
}

.icone-droite
{
    text-align: left;
    padding: 10px 20px;
    color: #00BCD4;
    flex: 10%;
}

.point-droite
{
    text-align: left;
    padding: 10px;
    color: #00BCD4;
    flex: 2%;
}

.date-lieu
{
    flex: 20%;
    padding: 10px;
    font-weight: bold;
}

.lieu
{
    display: block;
}

.texte
{
    padding: 10px;
    flex: 60%;
}

.reco
{
    padding: 20px 50px;
}

/** Mobiles, tablettes */
@media screen and (max-width: 992px)
{
    h1
    {
        font-size: 32px;
    }

    h3, h6
    {
        font-size: 23px;
    }

    .date-lieu
    {
        flex: 80%;
    }
    
    .texte
    {
        flex-direction: column;
        flex: 100%;
    }
}



