.h1
{
    propriete2: valeur2;
    propriete3: valeur3;
}

.h2
{
    propriete1: valeur1;
    propriete2: valeur2;
    propriete3: valeur3;
    propriete4: valeur4;
}

.rounded-circle
{
    border:blue;
}
